@model UpdateDiseaseFormModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["UpdateDisease"];
}

<form asp-action="Update">
    <input asp-for="Id" hidden />
    <input asp-for="HiveId" hidden />
    <div class="container">
        <fieldset>
            <legend class="text-primary">@ViewBag.Title</legend>
            <div asp-validation-summary="All" class="text-danger"></div>

            <p class="field">
                <input asp-for="Name" class="form-control" required />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </p>

            <p class="field">
                <textarea asp-for="Description" class="form-control" required></textarea>
                <label asp-for="Description"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </p>

            <p class="field">
                <textarea asp-for="Treatment" class="form-control" required></textarea>
                <label asp-for="Treatment"></label>
                <span asp-validation-for="Treatment" class="text-danger"></span>
            </p>

            <div class="row">
                <div class="col-6">
                    <partial name="~/Views/Shared/ButtonsPartials/_BackButtonPartial.cshtml" />
                </div>
                <div class="col-6">
                    <partial name="~/Views/Shared/ButtonsPartials/_UpdateButtonPartial.cshtml" />
                </div>
            </div>
        </fieldset>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link rel="stylesheet" href="~/css/input-form-styles.css" />
}