@model BaseHarvestServiceModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["DeleteHarvest"];
}

<form asp-action="DeleteHarvest">
    <input asp-for="Id" hidden />
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">@ViewBag.Title</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="HarvestDate" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="HarvestDate" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="HarvestedAmount" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="HarvestedAmount" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="HarvestedProduct" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="HarvestedProduct" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label asp-for="HiveId" class="control-label pt-1" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="HiveId" disabled class="form-control" />
            </div>
            <div class="col-5 offset-2">
                <partial name="~/Views/Shared/ButtonsPartials/_BackButtonPartial.cshtml" />
            </div>
            <div class="col-5">
                <partial name="~/Views/Shared/ButtonsPartials/_DeleteButtonPartial.cshtml" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}