@model HiveResourcesViewModel<HarvestListingServiceModel>

<br />
<br />
<div class="container p-3 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Harvests for hive: №@Model.HiveNumber</h1>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr style="text-align:center">
                <th>
                    Harvest Date
                </th>
                <th>
                    Harvested Amount
                </th>
                <th>
                    Harvested Product
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var harvest in Model.Resources)
            {
                <tr style="text-align:center">
                    <td>
                        @harvest.HarvestDate
                    </td>
                    <td>
                        @harvest.HarvestedAmount
                    </td>
                    <td>
                        @harvest.HarvestedProduct
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <partial name="_BackButtonPartial" />
    </div>
</div>