@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BeeSoft</h1>
    <h2>Please Login as administrator to use the application.</h2>
    <a class="btn-primary btn form-control" asp-area="Identity" asp-page="/Account/Login">Login</a>
</div>
