@model UpdateInspectionFormModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["UpdateInspection"];
}

<form asp-action="Update">
    <input asp-for="Id" hidden />
    <input asp-for="HiveId" hidden />
    <div class="container">
        <fieldset>
            <legend class="text-primary">@ViewBag.Title</legend>
            <div asp-validation-summary="All" class="text-danger"></div>

            <p class="field">
                <input asp-for="InspectionDate" type="datetime-local" class="form-control" required />
                <label asp-for="InspectionDate"></label>
                <span asp-validation-for="InspectionDate" class="text-danger"></span>
            </p>

            <p class="field">
                <input asp-for="WeatherConditions" class="form-control" />
                <label asp-for="WeatherConditions"></label>
                <span asp-validation-for="WeatherConditions" class="text-danger"></span>
            </p>

            <p class="field">
                <textarea asp-for="Observations" class="form-control" required></textarea>
                <label asp-for="Observations"></label>
                <span asp-validation-for="Observations" class="text-danger"></span>
            </p>

            <p class="field">
                <textarea asp-for="ActionsTaken" class="form-control"></textarea>
                <label asp-for="ActionsTaken"></label>
                <span asp-validation-for="ActionsTaken" class="text-danger"></span>
            </p>

            <div class="row">
                <div class="col-6">
                    <partial name="~/Views/Shared/ButtonsPartials/_BackButtonPartial.cshtml" />
                </div>
                <div class="col-6">
                    <partial name="~/Views/Shared/ButtonsPartials/_UpdateButtonPartial.cshtml" />
                </div>
            </div>
        </fieldset>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link rel="stylesheet" href="~/css/input-form-styles.css" />
}