@model CreateApiaryFormModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["CreateApiary"];
}

<form asp-action="Create">
    <div class="container">
        <fieldset>
            <legend class="text-primary">@ViewBag.Title</legend>
            <div asp-validation-summary="All" class="text-danger"></div>

            <p class="field">
                <input asp-for="Name" class="form-control" required />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </p>

            <p class="field">
                <input asp-for="Location" class="form-control" required />
                <label asp-for="Location"></label>
                <span asp-validation-for="Location" class="text-danger"></span>
            </p>

            <div class="row">
                <div class="col-6">
                    <partial name="~/Views/Shared/ButtonsPartials/_BackButtonPartial.cshtml" />
                </div>
                <div class="col-6">
                    <partial name="~/Views/Shared/ButtonsPartials/_CreateButtonPartial.cshtml" />
                </div>
            </div>
        </fieldset>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link rel="stylesheet" href="~/css/input-form-styles.css" />
}